@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.defcard-container{
    font-family: 'Abel';
    background: linear-gradient(#D00000, black);
    color: white;
    margin: 50px;
    width: 40vw;
    height: 115vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 40px;
}

.Definition_Cards_word, 
.Definition_Cards_origin, 
.Definition_Cards_partOfSpeech, 
.Definition_Cards_phonetics, 
.Definition_Cards_definition, 
.Definition_Cards_audio{
    font-size: 1.5rem;
    text-align: center;
}

h2{
    padding: 20px;
    text-align: center;
   width: 100%;
    color: #F45B06;
    font-size: 2rem;
}

@media(max-width: 375px){
.defcard-container{
    width: 80vw;
    height: 80vh;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}
.Definition_Cards_word, 
.Definition_Cards_origin, 
.Definition_Cards_partOfSpeech, 
.Definition_Cards_phonetics, 
.Definition_Cards_definition, 
.Definition_Cards_audio{
    font-size: 0.8rem;
    text-align: center;
}

}